@font-face {
  font-family: "Poppins Regular";
  src: url(/Fuentes/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Thin";
  src: url(/Fuentes/Poppins-Thin.ttf);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  background-color: white;
  flex-wrap: nowrap;
}
nav span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav a {
  text-decoration: none;
  font-family: "Poppins Regular", serif;
  color: #574f60;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-right: 60px;
  text-align: center;
}
.logoNav {
  width: 200px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.iconos img {
  margin: 10px;
  margin-left: 15px;
  flex-direction: row;
}

.container-slider {
  background-color: #f6f5cd;
  width: 100%;
  height: 700px;
}

ul,
ol {
  list-style: none;
}

.imagenSlider {
  max-width: 100%;
}

.slideshow {
  width: 1000px;
  position: relative;
  top: 50px;
  margin: auto;
}
.slider li,
ul {
  width: 100%;
}

.slider li img {
  width: 100%;
  height: 600px;
}

.left,
.right {
  position: absolute;
  top: 0;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100px;
}

.left {
  left: 40px;
}
.right {
  right: 10px;
}

.tituloCategorias {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5ec;
  padding: 50px;
  margin: auto;
  color: #75717a;
  text-shadow: 1px 1px 1px #574f60;
}
.categorias {
  background-color: #f5f5ec;
  width: 100%;
  height: 360px;
}
.container-fluid .categorias {
  width: 100%;
  background-color: #796c86;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.circulo {
  max-width: 100%;
  margin: 30px;
  border: 5px solid #f6f5cd;
  border-radius: 180px;
  box-shadow: 3px 3px 7px #574f60;
  cursor: pointer;
}

.categoriasTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins Regular", serif;
  color: #574f60;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding: 5px 20px;
  color: #796c86;
  background-color: #f6f5cd;
  font-family: "Poppins Regular";
  border: solid 2px #d8d7a7;
  box-shadow: 3px 3px 5px #574f60;
  border-radius: 20px;
  cursor: pointer;
}

.container-fluid .logo {
  height: 400px;
  margin-top: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tituloLogo {
  text-align: center;
  font-family: "Poppins Regular";
  margin-top: 100px;
}
.contenidoLogo {
  text-align: center;
  font-family: "Poppins Thin";
  justify-content: center;
}

/*NOSOTROS VANINA*/
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f5cd;
  flex-wrap: wrap;
  height: 730px;
}
.nosotros container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.nosotros section {
  flex: 0 2 370px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  height: 650px;
}

.nosotros img {
  box-shadow: 3px 3px 5px gray;
  width: 100%;
  max-width: 150px;
  height: auto;
}

.nosotros p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  line-height: 40px;
  margin-top: 60px;
  font-family: "Poppins Regular";
  font-size: 18px;
}

.nosotros h2 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Poppins Regular";
  font-size: 27px;
}
.nosotros li {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 10px;
  margin-top: 55px;
  font-family: "Poppins Regular";
}
/*PRESENTACION Malen */
.presentacion {
  background-image: url(imgcontacto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.presentacion section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  border-radius: 30px;
  background-color: #f5f5ec;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.presentacion h3 {
  font-size: small;
  font-family: "Poppins Regular";
}
.presentacion h2 {
  margin-top: 20px;
  font-family: "Poppins Regular";
}
.presentacion p {
  margin: 30px;
  font-family: "Poppins Regular";
}
.presentacion img {
  margin: 20px;
  border: 2px #d8d7a7;
  box-shadow: 2px 2px 5px grey;
  width: 200px;
  border-radius: 20px;
}
/*CONTACTO VANINA*/

.contacto {
  background-color: #f5f5ec;
  height: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-contacto {
  display: flex;
  background-color: white;
  height: 800px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 30px;
  border-radius: 25px;
}
.myform {
  padding: 20px 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.myform h2 {
  font-family: "Poppins Regular", serif;
  font-size: 30px;
  color: #796c86;
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px #75717a;
}
.myform p {
  font-family: "Poppins Regular", serif;
  font-size: 16px;
  color: #969eae;
  margin-bottom: 25px;
}
label .contacto {
  font-family: "Poppins Regular", serif;
  font-size: 15px;
  color: #969eae;
  margin-bottom: 15px;
}
.box {
  border: 1px solid #574f60;
  background-color: #f6f5cd;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}
.submit {
  background-color: #796c86;
  padding: 10px;
  color: #f6f5cd;
  border: 2px solid #ccbcde;
  box-shadow: 3px 3px 5px #574f60;
  font-family: "Poppins Regular", serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  width: 250px;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.info {
  padding: 50px;
}
.img-1 {
  width: 280px;
  height: 280px;
  margin-bottom: 50px;
  background-color: #f6f5cd;
  border-radius: 50px;
}
.location {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.icons {
  display: flex;
  margin-bottom: 31px;
}
.icons img {
  width: 20px;
  margin-right: 10px;
}
.icons p {
  font-family: "Poppins Regular";
  font-size: 14px;
  color: #969eae;
}
.social {
  display: flex;
}
.social img {
  width: 50px;
  margin-right: 60px;
}
/*COTIZACION*/
.fondoCotizacion {
  background-image: url(pexels-vecislavas-popa-1571453.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mueblesTitulo {
  text-transform: uppercase;
  color: #796c86;
  text-shadow: 1px 1px 1px #75717a;
  justify-content: center;
}
container .seccionCotizacion {
  background-color: #e6e4d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 500px;
  box-shadow: 2px 2px 5px #352e3e;
  border: 2px;
  border-radius: 20px;
}

label {
  margin-top: 30px;
  width: 150px;
}

select .cotizacion,
button .cotizacion {
  font-family: "Poppins Regular";
  color: #574f60;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.botonCotizacion {
  background-color: #796c86;
  padding: 10px;
  color: #f6f5cd;
  border: 2px solid #ccbcde;
  box-shadow: 3px 3px 5px #574f60;
  font-family: "Poppins Regular", serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  width: 250px;
  margin-top: 5px;
  transition: background-color 0.3s ease-in-out;
  font-family: "Poppins Regular";
}

button:hover .cotizacion {
  background-color: #0077b3;
}

#precio {
  font-family: "Poppins Regular";
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
/*MAPA Y FOOTER JONY*/

.containerMap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #f6f5cd;
  width: 100%;
  height: 400px;
}

.map {
  width: 1000px;
  height: 250px;
  margin-left: 50px;
  margin-top: 30px;
}
.containerMap h3 {
  font-family: "Poppins Regular", serif;
  font-size: 30px;
  color: #796c86;
  font-weight: 600;
  margin-left: 75px;
  text-shadow: 1px 1px 1px #75717a;
}

footer {
  padding: 50px 0px;
  margin: 20px;
  background-image: url(apartment-gc3eca9985_1280.jpg);
  width: 100%;
  margin: 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #f8f8f8;
  position: relative;
  top: 20px;
  left: 20px;
  flex-direction: row;
  margin-top: 30px;
  margin: 20px;
}

footer .section {
  width: 75%;
  height: 150px;
  background-color: #f8f6ea;
  border-radius: 20px;
  margin-left: 10px;
}
footer h3 {
  margin-top: 25px;
  margin-left: 10px;
  font-family: "Poppins Regular";
  font-size: 20px;
}
.logoFinal {
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enlace a {
  color: #ece488 !important;
  display: block;
  margin-bottom: 15px;
}
.btn-2 {
  padding: 10px 25px;
  background-color: #f6f5cd;
  border: 1px solid #796c86;
  border-radius: 70px;
  margin-left: 15px;
}
.btn-3 {
  margin-left: 10px;
  padding: 5px 10px;
  color: #796c86;
  background-color: #f6f5cd;
  font-family: "Poppins Regular";
  border: solid 2px #d8d7a7;
  box-shadow: 2px 2px 5px #574f60;
  border-radius: 20px;
  cursor: pointer;
}
.btn-4 {
  background-color: #ece488;
  padding: 10px 25px;
  border: 0;
  color: #fefeff;
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  nav {
    margin: auto;
  }
  nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-left: 90px;
    flex-direction: column;
  }
  span a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px 20px;
    flex-direction: column;
  }
  .iconos {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .logo {
    width: 200px;
    display: block;
    margin: auto;
    align-items: center;
  }
  .container-slider {
    width: 100%;
    height: 600px;
  }
  .slideshow {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .slider img {
    object-fit: contain;
  }
  .circulo {
    display: none;
  }
  .container-fluid .categorias {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #796c86;
  }
  .categoriasTexto {
    margin-top: 20px;
  }
  .boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 18px;
  }

  .container-logo {
    width: 200px;
  }
  .tituloLogo,
  .contenidoLogo {
    display: none;
  }
  .col-md-4 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 100%;
    height: 600px;
    margin-top: 50px;
  }
  .info {
    display: none;
  }
  .box {
    padding: 10px;
  }
  .myform {
    width: 100%;
    padding: 30px;
  }
  .myform h2 {
    font-size: 30px;
  }
  .nosotros section {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
  }
  .nosotros h2 {
    font-size: 18px;
  }
  .nosotros p {
    font-size: 12px;
    line-height: normal;
  }
  .nosotros li {
    font-size: 12px;
    height: fit-content;
    line-height: normal;
  }
  .nosotros img {
    max-width: 100%;
    height: auto;
  }

  .presentacion container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .presentacion section {
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 30px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .presentacion p {
    font-size: small;
    text-align: justify;
    float: left;
    position: relative;
    padding: 30px;
    align-self: center;
  }
  .presentacion h3 {
    text-align: center;
    margin: 30px;
  }

  .containerMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .map {
    width: 100%;
    margin: 20px;
  }
  .fondoCotizacion {
    width: 100%;
    height: auto;
  }
  container .seccionCotizacion {
    background-color: #e6e4d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 400px;
    box-shadow: 2px 2px 5px #352e3e;
    border: 2px;
    border-radius: 20px;
  }
  select .cotizacion,
  button .cotizacion {
    font-family: "Poppins Regular";
    color: #574f60;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin: 50px;
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer a {
    margin-top: 40px;
    color: black;
    background-color: rgba(252, 248, 248, 0.8);
    padding: 2px;
    width: 80%;
    border-radius: 20px;
  }
  .logoFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  footer .section {
    position: relative;
    top: 0;
    left: 40px;

    background-color: rgba(252, 248, 248, 0.8);
  }

  footer img {
    position: relative;
    top: 0;
    left: 60px;
  }
}
